<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>Document</title>
</head>
<body>
    <h1>About Me</h1>
    <h2>My name is {{fname}} {{lname}}</h2>
    <ul>
        <li>I love raw fish</li>
        <li>I was born in the Year of the Dog</li>
        <li>I love programming</li>
    </ul>
    <img src="/static/japanese-food.jpg"/>
</body>
</html>